body
{
	background:white;
	background-image:url("../img/css_background-repeat.png");
	background-position:left bottom;
	background-repeat:repeat-x;
	font-family:"Times New Roman";
	font-size:12pt;
}

h1
{
	font-family:"Arial";
	font-size:24pt;
	text-decoration:underline
}
h2
{
	font-family:"Arial";
	font-size:20pt;
	text-decoration:underline
}

img
{
	border:1px solid black;
	padding:10px;
	margin:0 10px 10px 10px;
}
	
a:link
{
	color:blue;
}
a:visited
{
	color:FireBrick;
}
a:hover
{
	color:red;
}

