*
{
	
}
body
{
	background:white;
	background-image:url("../img/css_background-repeat.png");
	background-position:left bottom;
	background-repeat:repeat-x;
	font-family:"Times New Roman";
	font-size:12pt;
	
}

h1
{
	font-family:"Arial";
	font-size:24pt;
	text-decoration:underline;
}
h2
{
	font-family:"Arial";
	font-size:20pt;
	text-decoration:underline;
}

img
{
	border:1px solid black;
	padding:10px;
	margin:0 10px 10px 10px;
}



a:link
{
	color:white;
}
a:visited
{
	color:#dad2ca;
}
a:hover
{
	color:black;
}

p:first-letter /* селектор псевдоэлемента */
{
	font-family: "Georgia";
	font-size: 200%;
	color:red;
}

.hor_menu ul /*селектор класса, дочерний элемент */
{
	list-style:none;
	display: -webkit-flex;
	display:flex;
	background:#dad2ca;
	padding-left:0;
	font:14pt "Lucida Sans";	
}

.hor_menu a
{
	padding:1em;
	display:block;
	color:#9b4222;
	border-right:1px solid #ffab51;
	/*background:#dad2ca;*/
}

.hor_menu a:hover
{
	background:#aaa;
}

.list-1
{
	counter-reset:li;/*сброс счетчика li*/
	list-style:none;
	font:11pt "Lucida Sans";
	padding:0;
	text-shadow:0 1px 0 rgba(255,255,255,.5);
}

.list-1 a
{
	position:relative;
	display:block;
	padding: .4em .4em .4em 2em;
	margin: .5em 0;
	background:#dad2ca;
	color:444;
	text-decoration:none;
	border-radius:.3em;
	transition: .3s ease-out;
}
.list-1 a:hover
{
	background:#e9e4e0;
}

.list-1 a:hover:before
{
	transform:rotate(360deg);
}
.list-1 a:before
{
	content:counter(li);
	counter-increment:li;
	position:absolute;
	left:-1.3em;
	top:50%;
	margin-top:-1.3em;
	background:#bbb;
	height:2em;
	width:2em;
	line-height:2em;
	border: .3em solid white;
	text-align:center;
	font-weight:bold;
	border-radius:3em;
	transition:all .3s ease-out;
}
.list-1 ol
{
	margin:0 0 0 2em;
}

table
{
	font-family:"Lucida Sans";
	border:1px solid #bbb;
	border-collapse:collapse;
	margin:0 0 40px 0;
}

caption
{
	font-size:13pt;
	color:#9b4222;
}
th
{
	padding:10px;
	border:1px solid #bbb;
	background:#dad2ca;
}
td
{
	border:1px solid #bbb;
	background:#e9e4e0;
	padding:5px;
}

section
{
	display:block;
}

.col-1-3,
.col-2-3
{
	padding-left:15px;
	padding-right:15px;
}
.grid,
.col-1-3,
.col-2-3
{
	display:inline-block;
	vertical-align:top;	
}
.col-1-3
{
	width:30.33%;
}
.col-2-3
{
	width:60.66%;
}
.row,
.row-alt
{
	min-width:960px;
	font:14pt "Lucida Sans";
}
.row
{
	background:white;
	padding:66px 0 44px 0;	
}
.row-alt
{
	background:#9b4222;
	padding:66px 0 44px 0;
	color:#e9e4e0;
}
.row h1,h2
{
	text-align:center;
	text-transform:uppercase;
}

.container,
.grid
{
	margin:0 auto;
}
.container
{
	padding-left:30px;
	padding-right:30px;
}
.group
{
	clear:both;
}

.footer_nav
{
	float:right;
	text-align:left;
	background:#9b4222;
	text-transform:uppercase;
	margin:0;
	padding:0;
	display:inline-block;
}
.footer_nav li
{
	display:inline-block;
	margin:0 10px;
	vertical-align:top;
	font:14pt "Lucida Sans";
}
.footer_nav ul
{
	margin:0;
}
.footer_nav li:last-child
{
	margin-right:0;
}
.primary-footer
{
	color:white;
	font-size:14px;
	padding-bottom:44px;
	padding-top:44px;
	background:#9b4222;
}
.primary-footer small
{
	float:left;
	font-weight:400;
	font-size:7pt;
}



